* {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}


.main-content,
.stat-card,
.product-card,
.table tbody tr,
[class*="fade-in"],
[class*="animate"] {
    will-change: transform, opacity;
    transform: translate3d(0, 0, 0);
}

html,
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

@media (prefers-reduced-motion: no-preference) {

    .main-content,
    .stat-card,
    .product-card {
        animation-fill-mode: forwards;
    }
}